In [5]:
%run '00_database_connectivity_setup.ipynb'

          x         y
0  0.381851  0.000599
1  0.155280  0.399155
2  0.436562  0.442039
3  0.742300  0.745614
4  0.561765  0.829729
5  0.416113  0.713841

In [6]:
%%execsql
DROP TABLE IF EXISTS  felipe.bic_azeqdeliv00_sum

In [7]:
%%showsql
select madlib.summary('sap_bi.bic_azeqdeliv00_int', 'felipe.bic_azeqdeliv00_sum');

                                         summary
0  (felipe.bic_azeqdeliv00_sum,29,155.058628082)

In [8]:
%%showsql
select target_column, distinct_values, missing_values, blank_values, min, max, most_frequent_values
from felipe.bic_azeqdeliv00_sum
where fraction_blank < 0.999 and distinct_values > 1;

,target_column,distinct_values,missing_values,blank_values,min,max,most_frequent_values
0,deliv_numb,343522,0,0,10.0,10.0,"[0084003515, 0082164367, 0080065234, 0081951302, 0082147028, 0082015955, 0081940942, 0080206841, 0081116831, 0081338902]"
1,deliv_item,6023,0,0,6.0,6.0,"[000001, 000001, 000001, 000010, 000010, 000010, 000002, 000002, 000002, 000020]"
2,equipment,1400377,0,14,0.0,18.0,"[000000000010595302, 000000000012490362, 000000000010286304, 000000000010971148, 000000000015222930, 000000000011634801, 000000000012668526, 000000000013530144, 000000000010025216, 000000000010936116]"
3,recordmode,2,0,253,0.0,1.0,"[N, N, N, ]"
4,ucserialnr,1223066,0,99,0.0,18.0,"[000000000000000001, 000000000000000002, 000000000000000002, 000000000000000002, 000000000000000003, 000000000000000003, 000000000000000003, 000000000000000004, 000000000000000004, 000000000000000004]"
5,material,60727,0,0,3.0,18.0,"[P505327, P505327, P505327, P516108, P516108, P516108, P537789, P537789, P537789, 000000000003139475]"
6,createdon,5105,0,0,8.0,8.0,"[20121207, 20140620, 20150911, 20141119, 20141119, 20131216, 20151123, 20130626, 20140929, 20140530]"
7,crea_time,78540,0,0,6.0,6.0,"[125512, 223844, 153442, 144430, 193804, 144912, 082131, 151213, 155734, 034206]"
8,bic_zvorgang,6,0,623,0.0,4.0,"[SDLS, SDLS, SDLS, SDCC, SDCC, SDCC, SDRE, SDRE, SDRE, SDC1]"
9,doc_categ,3,0,2211,0.0,1.0,"[J, J, J, T, T, T, , , ]"
10,customer,5469,0,54476,0.0,10.0,"[PLANTCS01, PLANTHCS1, , , , PLANT4011, PLANT4011, PLANT4011, PLANT KOS1, PLANT KOS1]"
11,movetype,17,0,2313,0.0,3.0,"[601, 601, 601, 641, 641, 641, 981, 981, 981, 643]"
12,item_categ,51,0,0,3.0,4.0,"[ZTFC, ZTFC, ZTFC, NLN, NLN, NLN, ZNLN, NLC, NLC, NLC]"
13,createdby,1697,0,0,3.0,12.0,"[BACKGROUNDUS, BACKGROUNDUS, BACKGROUNDUS, JORDANC, JORDANC, JORDANC, TEOBL, TEOBL, TEOBL, DAVIDNG]"
14,plant,96,0,0,4.0,4.0,"[5100, 5100, 5100, KOS1, KOS1, KOS1, CS01, GSEA, GSEA, GSEA]"
15,bic_zequihist,343522,0,0,10.0,10.0,"[0084003515, 0080065234, 0082164367, 0082015955, 0081951302, 0082147028, 0081315416, 0081116831, 0082108623, 0081940942]"
16,bic_zehistty,3,0,2211,0.0,8.0,"[DELIVERY, DELIVERY, DELIVERY, RETURNS, RETURNS, RETURNS, , , ]"

In [9]:
%%showsql
select deliv_numb, deliv_item, equipment, material, to_date(createdon, 'YYYYMMDD') as createdon, bic_zvorgang, customer, movetype,
item_categ, plant, bic_zequihist, bic_zehistty
from sap_bi.bic_azeqdeliv00_int limit 10;

,deliv_numb,deliv_item,equipment,material,createdon,bic_zvorgang,customer,movetype,item_categ,plant,bic_zequihist,bic_zehistty
0,0080165411,000010,000000000010520075,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY
1,0080165411,000010,000000000010520076,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY
2,0080165411,000010,000000000010520077,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY
3,0080165411,000010,000000000010520078,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY
4,0080165411,000010,000000000010520079,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY
5,0080165411,000010,000000000010520080,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY
6,0080165411,000010,000000000010520081,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY
7,0080165411,000010,000000000010520082,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY
8,0080165411,000010,000000000010520083,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY
9,0080165411,000010,000000000010520084,SP-69-23610,2006-10-10,SDLS,0000451957,541,LBN,GSEA,0080165411,DELIVERY