In [3]:
%run '00_database_connectivity_setup.ipynb'

C:\Anaconda2\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [4]:
%%showsql
select * from sap_bi.bi0_pplant_int order by random() limit 10

,plant,objvers,changed,altitude,bpartner,country,county_cde,distr_chan,factcal_id,gn_par_ssy,latitude,loc_currcy,logsys,longitude,plantcat,postal_cd,postcd_gis,precisid,purch_org,region,rt_area,rt_custpl,rt_lbldatf,rt_lbldatt,rt_lcldat,rt_lopdat,salesorg,sales_dist,srcid,rf_storety,rf_depstor,apo_locfr,rma_flag,rma_refplt,comp_code,rma_alloc,rma_vkorg,rma_vtweg,bic_zlocation,bic_zregion,bic_zdivision,bic_zdivisin2,dbbusname
0,5137,A,,0.000,,US,,01,ZB,,0E-12,USD,,0E-12,,78332,78332,0000,EFST,TX,000000,PLANT5137,00000000,00000000,00000000,00000000,EFST,,,,,,,,EFST,,,,US,NORTH AMERICA,FCD,,SURFACE
1,1112,A,,0.000,,US,,01,ZB,,0E-12,USD,,0E-12,,77067,77067,0000,EERO,TX,000000,PLANT1112,00000000,00000000,00000000,00000000,EERO,,,,,,,,EERO,,,,US,NORTH AMERICA,MEA,,SURFACE
2,EMPN,A,,0.000,,NO,,01,NO,,0E-12,NOK,,0E-12,,4033,4033,0000,EMPN,11,000000,,00000000,00000000,00000000,00000000,KOS1,,,,,,,,KOS1,,,,NORWAY,EASTERN,SS,,SUBSEA
3,5145,A,,0.000,,US,,01,ZB,,0E-12,USD,,0E-12,,76401,76401,0000,EFST,TX,000000,PLANT5145,00000000,00000000,00000000,00000000,EFST,,,,,,,,EFST,,,,US,NORTH AMERICA,FCD,,SURFACE
4,4024,A,,0.000,,BR,,01,ZR,,0E-12,BRL,,0E-12,,21535-510,21535-510,0000,EWBO,RJ,000000,PLANT4024,00000000,00000000,00000000,00000000,B001,,,,,,,,EWBO,,,,BRAZIL,BRAZIL,SS,,SUBSEA
5,INDL,A,,0.000,,IN,,01,I2,,0E-12,INR,,0E-12,,502312,502312,0000,GIND,,000000,PLANT INDL,00000000,00000000,00000000,00000000,GIND,,,,,,,,GIND,,,,INDIA,ASIA PACIFIC,SS,,SUBSEA
6,SJNV,A,,0.000,,CA,,01,CA,,0E-12,CAD,,0E-12,,A1E 6B5,A1E 6B5,0000,,NF,000000,PLANTSJNV,00000000,00000000,00000000,00000000,EWKO,,,,,,,,EWKO,,,,,,,,SURFACE
7,ESST,A,,0.000,,TN,,01,Z1,,0E-12,EUR,,0E-12,,1053,1053,0000,EWC1,,000000,PLANT ESST,00000000,00000000,00000000,00000000,ESST,,,,,,,,ESST,,,,TUNISIA,AFRICA,SWH,SWI,SURFACE
8,5138,A,,0.000,,US,,01,ZB,,0E-12,USD,,0E-12,,79706,79706,0000,EFST,TX,000000,PLANT5138,00000000,00000000,00000000,00000000,EFST,,,,,,,,EFST,,,,US,NORTH AMERICA,FCD,,SURFACE
9,EWDF,A,,0.000,,NG,,01,NO,,0E-12,USD,,0E-12,,,,0000,EWNS,,000000,PLANTEWDF,00000000,00000000,00000000,00000000,EWNS,,,,,,,,EWNS,,,,NIGERIA,AFRICA,SS,,SUBSEA

In [2]:
%%execsql
DROP TABLE IF EXISTS  nate.bi0_pplant_sum

In [3]:
%%showsql
select madlib.summary('sap_bi.bi0_pplant_int', 'nate.bi0_pplant_sum');

                                  summary
0  (nate.bi0_pplant_sum,43,2.64686512947)

In [4]:
%%showsql
select target_column, distinct_values, missing_values, blank_values, min, max, most_frequent_values 
from nate.bi0_apur_o0100_sum
where fraction_blank < 0.999 and distinct_values > 1;

,target_column,distinct_values,missing_values,blank_values,min,max,most_frequent_values
0,oi_ebeln,1953801,0,0,1.0,10.0,"[0046000091, 0045479417, 0045479417, 0045357813, 0045357813, 5600000380, 0045134895, 0045242977, 0045242977, 0045257466]"
1,oi_ebelp,5175,0,0,5.0,5.0,"[00010, 00010, 00010, 00010, 00010, 00010, 00001, 00001, 00001, 00001]"
2,compl_del,2,0,1124470,0.0,1.0,"[X, X, X, X, X, X, , , , ]"
3,createdon,4415,0,0,8.0,8.0,"[00000000, 00000000, 20140611, 20150609, 20150120, 20150120, 20150120, 20150312, 20150312, 20150210]"
4,pstng_date,4010,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20150909, 20130925, 20160113, 20160128]"
5,material,326296,0,2419466,0.0,18.0,"[, , , , , , 73-010-024, 73-010-024, OTHER085, 17.05]"
6,matl_group,1177,0,737722,0.0,9.0,"[99, 99, 99, 99, 99, 99, , S-Z13-000, S-Z13-000, S-Z13-000]"
7,plant,182,0,691369,0.0,4.0,"[, EWHG, EWHG, EWHG, EWHG, EWHG, GSEA, GSEA, GSEA, 5100]"
8,purch_org,52,0,691351,0.0,4.0,"[EWHP, EWHP, EWHP, EWHP, EWHP, EWBO, EWBO, EWBO, EWBO, EWBO]"
9,pur_group,912,0,691351,0.0,3.0,"[756, 756, 756, 756, , 890, 890, 890, 890, 801]"
10,stor_loc,1046,0,2037105,0.0,4.0,"[0001, 0001, 0001, 0001, 0001, 0001, , , , ]"
11,vendor,22300,0,2056601,0.0,10.0,"[, , , , , , VEFST, VEFST, 0000104933, 0000104933]"
12,loc_currcy,11,0,691351,0.0,3.0,"[USD, USD, USD, USD, USD, USD, BRL, BRL, BRL, BRL]"
13,order_curr,40,0,691351,0.0,3.0,"[USD, USD, USD, USD, USD, USD, NOK, NOK, , BRL]"
14,base_uom,74,0,693339,0.0,3.0,"[EA, EA, EA, EA, EA, EA, , PCE, PCE, PCE]"
15,po_unit,74,0,693339,0.0,3.0,"[EA, EA, EA, EA, EA, EA, , PCE, PCE, PCE]"
16,recordmode,2,0,6439884,0.0,1.0,"[, , , , , , N, N, N, N]"
17,itm_cat,9,0,691351,0.0,1.0,"[0, 0, 0, 0, 0, 0, 7, 7, 7, 7]"
18,log_sys_be,2,0,691351,0.0,2.0,"[KO, KO, KO, KO, KO, KO, , , , ]"
19,po_status,7,0,1061913,0.0,1.0,"[9, 9, 9, 9, 9, 9, K, K, K, K]"
20,processkey,7,0,0,3.0,3.0,"[001, 001, 001, 001, 001, 001, 002, 002, 002, 002]"
21,log_sys,3,0,691351,0.0,2.0,"[KO, KO, KO, KO, KO, KO, SP, SP, SP, SP]"
22,val_start,471,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20060601, 20060601, 20060601, 20060101]"
23,val_end,197,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20141231, 20141231, 20061231, 20060630]"
24,gr_re_ind,2,0,875333,0.0,1.0,"[X, X, X, X, X, X, , , , ]"
25,inv_re_ind,2,0,2195108,0.0,1.0,"[X, X, X, X, X, X, , , , ]"
26,gr_base_iv,2,0,6045287,0.0,1.0,"[, , , , , , X, X, X, X]"
27,eval_r_s,2,0,6553299,0.0,1.0,"[, , , , , , X, X, X, X]"
28,final_inv,2,0,3385929,0.0,1.0,"[, , , , , , X, X, X, X]"
29,prod_descr,1223066,0,691686,0.0,40.0,"[, , BULL PLUG, API, ROUND, 2 API LP (M) BTM, BULL PLUG, API, ROUND, 2 API LP (M) BTM, DESEMBARA O DE IMPORTA O, DESEMBARA O DE IMPORTA O, NEEDLE VALVE ASSY, SURFACE, 1/2 NOM, 10K, COMMERCIAL BUYOUT ITEM, Fornecimento de m o-de-obra, mesmo em ca, Fornecimento de m o-de-obra, mesmo em ca]"
30,contract,795,0,6287197,0.0,10.0,"[, , , , , , 0046000099, 0046000099, 0046000099, 0046000099]"
31,cont_item,3609,0,0,5.0,5.0,"[00000, 00000, 00000, 00000, 00000, 00000, 02590, 02590, 02590, 02590]"
32,logsys_pur,2,0,691351,0.0,10.0,"[KORCLNT111, KORCLNT111, KORCLNT111, KORCLNT111, KORCLNT111, KORCLNT111, , , , ]"
33,gn_r3_ssy,2,0,691351,0.0,2.0,"[KO, KO, KO, KO, KO, KO, , , , ]"
34,conf_date,5314,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20130315, 20130315, 20130906, 20130906]"
35,partner,20784,0,2056944,0.0,10.0,"[, , , , , , VEFST, VEFST, VEFST, 0000104933]"
36,supplier,14227,0,3597725,0.0,10.0,"[, , , , , , 0000104933, 0000104933, 0000104933, 0000104933]"
37,suppl_vend,14227,0,3596460,0.0,10.0,"[, , , , , , 0000104933, 0000104933, 0000104933, 0000104933]"
38,supp_plant,145,0,5055710,0.0,4.0,"[, , , , , , 7550, 7550, 7550, 7550]"
39,doc_cat,3,0,691351,0.0,1.0,"[F, F, F, F, F, F, , , , ]"
40,entry_date,4036,0,0,8.0,8.0,"[00000000, 20151218, 20151218, 20151218, 20151218, 20151218, 20150922, 20150922, 20150921, 20150921]"
41,doc_date,4415,0,0,8.0,8.0,"[00000000, 00000000, 20140611, 20150609, 20150120, 20150120, 20150120, 20150312, 20150312, 20150210]"
42,doc_item,2657,0,0,6.0,6.0,"[000001, 000001, 000001, 000001, 000001, 000010, 000010, 000010, 000010, 000010]"
43,bbp_acccat,16,0,3722461,0.0,1.0,"[, , , , , , Q, Q, Q, K]"
44,tctlstchg,2489,0,0,14.0,14.0,"[00000000000000, 00000000000000, 20150601161330, 20150525235844, 20150525235839, 20150525235908, 20150525235806, 20150525235857, 20150525235739, 20150524181552]"
45,doc_time,85186,0,0,6.0,6.0,"[000000, 000000, 000000, 000000, 000000, 110108, 004546, 153823, 014329, 094136]"
46,bwapplnm,2,0,691351,0.0,2.0,"[MM, MM, MM, MM, MM, MM, , , , ]"
47,bbp_req_id,3129584,0,2718299,0.0,10.0,"[, , , , , , 0013470319, 0013470319, 0042257995, 3014275607]"
48,bic_zpodelind,3,0,6387032,0.0,1.0,"[, , , , , , L, L, L, L]"
49,bbp_rqitem,1077,0,0,10.0,10.0,"[0000000010, 0000000010, 0000000010, 0000000010, 0000000010, 0000000010, 0000000000, 0000000000, 0000000000, 0000000000]"
50,doctype,16,0,691351,0.0,4.0,"[EC1, EC1, EC1, EC1, EC1, EC1, NB, NB, NB, NB]"
51,gl_account,636,0,3723697,0.0,10.0,"[, , , , , , 0000283023, 0000283023, 0000283023, 0000283082]"
52,bic_zreq_rel,5395,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20140611, 20140611, 20130925, 20150312]"
53,bbp_rqdate,4218,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20130925, 20130925, 20110707, 20140611]"
54,bic_zreq_curr,35,0,2720404,0.0,4.0,"[, , , , , , USD, USD, USD, USD]"
55,bic_zpo_itchg,4026,0,0,8.0,8.0,"[00000000, 20130424, 20130424, 20130424, 20130424, 20130423, 20151218, 20151218, 20151218, 20150922]"
56,bic_zsched_dt,4432,0,0,8.0,8.0,"[00000000, 00000000, 20140611, 20140611, 20140611, 20130730, 20150609, 20150609, 20150312, 20150312]"
57,stge_pd_un,2,0,691351,0.0,3.0,"[TAG, TAG, TAG, TAG, TAG, TAG, , , , ]"
58,bic_zbednr,136450,0,5774601,0.0,10.0,"[, , , , , , G2-COMM-XX, G2-COMM-XX, G2-COMM-XX, SLB]"
59,bic_zlfdat,5640,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20070831, 20130812, 20130812, 20130812]"
60,bic_zconf_cdt,3879,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20151117, 20160127, 20130409, 20160113]"
61,bic_zsn_dldt,2556,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20140130, 20140109, 20140410, 20131209]"
62,bic_zsn_credt,2460,0,0,8.0,8.0,"[00000000, 00000000, 00000000, 00000000, 00000000, 00000000, 20130911, 20140130, 20140410, 20131209]"
63,bic_zihrez,10094,0,2290989,0.0,12.0,"[, , , , , , DAVID, DAVID, DAVID, MICHELLE]"
64,bic_zunsez,5465,0,2034719,0.0,12.0,"[, , , , , , TAN, TAN, B.GILLESPIE, DELATTRE]"
65,bic_zbstae,6,0,4337479,0.0,4.0,"[, , , , , , 0001, 0001, 0001, 0001]"

The query below includes the columns that have good data. (NOTE - this was selected out of columns with less than 200 blank values, rather than out of the query above which selects all that have less then 0.999 blank)

In [6]:
%%showsql
select plant, country,loc_currcy, postal_cd, purch_org, region, rt_custpl, salesorg, comp_code, bic_zlocation, bic_zregion, bic_zdivision,
bic_zdivisin2, dbbusname from sap_bi.bi0_pplant_int limit 5;

,plant,country,loc_currcy,postal_cd,purch_org,region,rt_custpl,salesorg,comp_code,bic_zlocation,bic_zregion,bic_zdivision,bic_zdivisin2,dbbusname
0,MCHI,US,,60601,,IL,,,MCHI,,,,,
1,CDD,,,,,,,,,,,,,
2,GENR,US,,60601,,,,,MCHI,,,,,
3,EDDS,US,USD,92833,EDDS,CA,,EDDS,EDDS,,,,,SUBSEA
4,EFSS,US,,77032,EFSS,TX,,,EFSS,,,,,SUBSEA