In [1]:
%run '00_database_connectivity_setup.ipynb'

C:\Anaconda2\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
%%showsql
SELECT * FROM information_schema.tables 
WHERE table_schema = 'data_science'

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,fmc_poc,data_science,inventory,BASE TABLE,None,None,None,None,None,NO,NO,None
1,fmc_poc,data_science,coating_spcs,BASE TABLE,None,None,None,None,None,NO,NO,None
2,fmc_poc,data_science,elastomer_specs,BASE TABLE,None,None,None,None,None,NO,NO,None
3,fmc_poc,data_science,materialspecs,BASE TABLE,None,None,None,None,None,NO,NO,None
4,fmc_poc,data_science,weld_specs,BASE TABLE,None,None,None,None,None,NO,NO,None
5,fmc_poc,data_science,purchasingspcs,BASE TABLE,None,None,None,None,None,NO,NO,None
6,fmc_poc,data_science,qspecs,BASE TABLE,None,None,None,None,None,NO,NO,None
7,fmc_poc,data_science,tce_uom,BASE TABLE,None,None,None,None,None,NO,NO,None
8,fmc_poc,data_science,tce_part_types,BASE TABLE,None,None,None,None,None,NO,NO,None
9,fmc_poc,data_science,sap_uom,BASE TABLE,None,None,None,None,None,NO,NO,None
10,fmc_poc,data_science,sourcepartmaster,BASE TABLE,None,None,None,None,None,NO,NO,None
11,fmc_poc,data_science,so_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
12,fmc_poc,data_science,zxml_item_1,BASE TABLE,None,None,None,None,None,YES,NO,None
13,fmc_poc,data_science,zxml_item_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
14,fmc_poc,data_science,zxml_item_docu_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
15,fmc_poc,data_science,zxml_item_xfer_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
16,fmc_poc,data_science,zxml_item_bom_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
17,fmc_poc,data_science,zxml_item_ecn_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
18,fmc_poc,data_science,zxml_item_others,BASE TABLE,None,None,None,None,None,NO,NO,None
19,fmc_poc,data_science,zxml_item_parts_latest_pipe_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
20,fmc_poc,data_science,inventory_20160321_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
21,fmc_poc,data_science,material_group,BASE TABLE,None,None,None,None,None,YES,NO,None
22,fmc_poc,data_science,sap_equipment_master,BASE TABLE,None,None,None,None,None,YES,NO,None
23,fmc_poc,data_science,items_details_trn,BASE TABLE,None,None,None,None,None,YES,NO,None
24,fmc_poc,data_science,sap_material_master,BASE TABLE,None,None,None,None,None,YES,NO,None
25,fmc_poc,data_science,inventory_int,BASE TABLE,None,None,None,None,None,YES,NO,None
26,fmc_poc,data_science,material_bom_new,BASE TABLE,None,None,None,None,None,YES,NO,None
27,fmc_poc,data_science,inventory_int_03212016,BASE TABLE,None,None,None,None,None,YES,NO,None
28,fmc_poc,data_science,items_details_trn_mdlib_summary,BASE TABLE,None,None,None,None,None,YES,NO,None
29,fmc_poc,data_science,material_bom,BASE TABLE,None,None,None,None,None,YES,NO,None
30,fmc_poc,data_science,zxml_item_parts_latest,BASE TABLE,None,None,None,None,None,YES,NO,None
31,fmc_poc,data_science,tce_uom_int,BASE TABLE,None,None,None,None,None,YES,NO,None
32,fmc_poc,data_science,tce_part_types_int,BASE TABLE,None,None,None,None,None,YES,NO,None
33,fmc_poc,data_science,sap_equipment_history,BASE TABLE,None,None,None,None,None,YES,NO,None
34,fmc_poc,data_science,sap_uom_int,BASE TABLE,None,None,None,None,None,YES,NO,None
35,fmc_poc,data_science,sourcepartmaster_int,BASE TABLE,None,None,None,None,None,YES,NO,None
36,fmc_poc,data_science,zxml_item,BASE TABLE,None,None,None,None,None,YES,NO,None
37,fmc_poc,data_science,zxml_item_parts,BASE TABLE,None,None,None,None,None,YES,NO,None
38,fmc_poc,data_science,service_order,BASE TABLE,None,None,None,None,None,YES,NO,None
39,fmc_poc,data_science,zxml_item_new,BASE TABLE,None,None,None,None,None,YES,NO,None
40,fmc_poc,data_science,service_order_2,BASE TABLE,None,None,None,None,None,YES,NO,None
41,fmc_poc,data_science,election92,BASE TABLE,None,None,None,None,None,YES,NO,None
42,fmc_poc,data_science,demographic,BASE TABLE,None,None,None,None,None,YES,NO,None
43,fmc_poc,data_science,financial,BASE TABLE,None,None,None,None,None,YES,NO,None
44,fmc_poc,data_science,zxml_item_parts_latest_rev,BASE TABLE,None,None,None,None,None,YES,NO,None
45,fmc_poc,data_science,ordercomponents_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
46,fmc_poc,data_science,ordercomponents_int,BASE TABLE,None,None,None,None,None,YES,NO,None
47,fmc_poc,data_science,partbom_exploded_ext,BASE TABLE,None,None,None,None,None,NO,NO,None
48,fmc_poc,data_science,partbom_exploded_int,BASE TABLE,None,None,None,None,None,YES,NO,None

In [4]:
%%showsql
SELECT * FROM data_science.partbom_exploded_int limit 5

  plant    material  lvl   component  qty unit
0  EWHG  02-411-062  0    02-411-063  1.0  EA
1  EWHG  02-411-062  0    3232434     1.0  EA
2  EWHG  02-411-062  0    86-693-001  1.0  EA
3  EWHG  02-411-062  0    86-691-090  1.0  EA
4  EWHG  02-411-062  0    88-030-080  1.0  EA

In [5]:
%%showsql
SELECT COUNT(*) FROM data_science.partbom_exploded_int where plant = 'EWHG'

     count
0  2072494

In [6]:
%%showsql
SELECT COUNT(*) FROM data_science.partbom_exploded_int

     count
0  2072494

In [7]:
%%showsql 
SELECT * FROM data_science.partbom_exploded_int WHERE material = '02-411-063'

  plant    material  lvl   component  qty unit
0  EWHG  02-411-063  0    70-730-851  1.0  IN

In [8]:
%%showsql 
SELECT * FROM data_science.partbom_exploded_int WHERE component = '02-411-063'

  plant    material  lvl   component  qty unit
0  EWHG  02-411-062  0    02-411-063  1.0  EA

In [9]:
%%showsql
SELECT * FROM data_science.partbom_exploded_int WHERE material = '02-411-062'

  plant    material  lvl   component  qty unit
0  EWHG  02-411-062  0    02-411-063  1.0  EA
1  EWHG  02-411-062  0    3232434     1.0  EA
2  EWHG  02-411-062  0    86-693-001  1.0  EA
3  EWHG  02-411-062  0    86-691-090  1.0  EA
4  EWHG  02-411-062  0    88-030-080  1.0  EA
5  EWHG  02-411-062  0    48-180-016  1.0  EA
6  EWHG  02-411-062  1    70-730-851  1.0  IN

In [11]:
%%showsql
SELECT * FROM data_science.partbom_exploded_int WHERE component= '02-411-062'

Empty DataFrame
Columns: [plant, material, lvl, component, qty, unit]
Index: []