In [2]:
%run '00_database_connectivity_setup.ipynb'
%matplotlib inline
from IPython.display import display
from IPython.display import HTML
conn.commit();

C:\Anaconda2\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [6]:
sql = """ 
SELECT twenty_news_groups.label,twenty_news_groups_term_frequencies.token,twenty_news_groups_term_frequencies.tf 
FROM nate.twenty_news_groups, nate.twenty_news_groups_term_frequencies 
WHERE twenty_news_groups.doc_id = twenty_news_groups_term_frequencies.doc_id
ORDER BY twenty_news_groups_term_frequencies.tf DESC
"""
df = psql.read_sql(sql, conn)
conn.commit()
display(df)

                            label                                 token    tf
0                  comp.windows.x                                     x  1107
1                  comp.windows.x                                     x  1089
2                rec.sport.hockey                                     0   821
3              talk.politics.misc                                   the   710
4         comp.os.ms-windows.misc       maxaxaxaxaxaxaxaxaxaxaxaxaxaxax   698
5              talk.religion.misc                                   the   683
6                       sci.space                                   the   662
7                  comp.windows.x                                     x   652
8                  comp.windows.x                                     x   644
9                  comp.windows.x                                     x   642
10                sci.electronics                                   the   639
11                    alt.atheism                                   the   589
12        comp.os.ms-windows.misc       maxaxaxaxaxaxaxaxaxaxaxaxaxaxax   564
13                 comp.windows.x                                   the   547
14        comp.os.ms-windows.misc       maxaxaxaxaxaxaxaxaxaxaxaxaxaxax   547
15          talk.politics.mideast                                   the   546
16               rec.sport.hockey                                   the   536
17                      sci.crypt                                    db   535
18             talk.politics.guns                                   the   505
19          talk.politics.mideast                                   the   497
20             talk.politics.misc                                   the   478
21          talk.politics.mideast                                   the   459
22             talk.politics.misc                                   the   455
23                      sci.crypt                                   the   450
24          talk.politics.mideast                                   the   443
25                      sci.space                                   the   443
26                      sci.crypt                                   the   430
27          talk.politics.mideast                                   the   415
28         soc.religion.christian                                   the   413
29        comp.os.ms-windows.misc       maxaxaxaxaxaxaxaxaxaxaxaxaxaxax   413
...                           ...                                   ...   ...
2868053               alt.atheism                                   the     1
2868054  comp.sys.ibm.pc.hardware                                 might     1
2868055            comp.windows.x                                   bmp     1
2868056                 rec.autos                                    in     1
2868057          rec.sport.hockey                                  that     1
2868058                   sci.med                                   asp     1
2868059     talk.politics.mideast                                   his     1
2868060  comp.sys.ibm.pc.hardware                             047048978     1
2868061     comp.sys.mac.hardware                             stockholm     1
2868062        talk.politics.guns                          registration     1
2868063                   sci.med                            stockfisch     1
2868064     talk.politics.mideast                                behind     1
2868065        rec.sport.baseball                                  dave     1
2868066        talk.politics.misc                                  knew     1
2868067                   sci.med                                  hour     1
2868068        talk.religion.misc                                hebrew     1
2868069                 sci.crypt                                 makes     1
2868070     talk.politics.mideast                             braziller     1
2868071                 rec.autos                                  says     1
2868072                   sci.med  danielprincef129n102z1calcomsocalcom     1
2868073            comp.windows.x                                  from     1
2868074     talk.politics.mideast   1993may1308084123904husc3harvardedu     1
2868075        rec.sport.baseball                                  time     1
2868076                 sci.crypt                            dsiuscrpac     1
2868077            comp.windows.x                                  they     1
2868078        talk.religion.misc                            addressing     1
2868079                   sci.med                                 until     1
2868080                   sci.med                                center     1
2868081        rec.sport.baseball                                 given     1
2868082               alt.atheism             1qnp13inn816gapcaltechedu     1

[2868083 rows x 3 columns]

In [16]:
sql = """ 
SELECT twenty_news_groups_term_frequencies.token, twenty_news_groups_term_frequencies.doc_id 
FROM nate.twenty_news_groups_vocabulary, nate.twenty_news_groups_term_frequencies 
WHERE twenty_news_groups_vocabulary.token = twenty_news_groups_term_frequencies.token
ORDER BY twenty_news_groups_term_frequencies.doc_id
"""
df = psql.read_sql(sql, conn)
conn.commit()
display(df)

               token  doc_id
0                          0
1               make       0
2       organization       0
3                day       0
4              image       0
5                  r       0
6                  2       0
7            correct       0
8                 12       0
9              wasnt       0
10                na       0
11                 i       0
12             bible       0
13           article       0
14                 a       0
15           created       0
16                18       0
17             offer       0
18              year       0
19             lines       0
20             wrong       0
21           subject       0
22               god       0
23          original       0
24              word       0
25              high       0
26      distribution       0
27            writes       0
28             youre       0
29            stated       1
...              ...     ...
695940    individual   18845
695941         today   18845
695942      religion   18845
695943          bill   18845
695944      original   18845
695945            im   18845
695946          data   18845
695947          open   18845
695948         works   18845
695949    discussion   18845
695950             a   18845
695951         bible   18845
695952           put   18845
695953  organization   18845
695954        reason   18845
695955          main   18845
695956     generally   18845
695957        system   18845
695958         years   18845
695959    university   18845
695960          real   18845
695961          isnt   18845
695962          hope   18845
695963       article   18845
695964          made   18845
695965        things   18845
695966        people   18845
695967       replyto   18845
695968          call   18845
695969          read   18845

[695970 rows x 2 columns]

In [47]:
sql = """
SELECT doc_id, count(twenty_news_groups_term_frequencies.token)
FROM nate.twenty_news_groups_vocabulary, nate.twenty_news_groups_term_frequencies 
WHERE twenty_news_groups_vocabulary.token = twenty_news_groups_term_frequencies.token
GROUP BY doc_id
ORDER BY doc_id
"""
df = psql.read_sql(sql, conn)
conn.commit()
display(df)

       doc_id  count
0           0     29
1           1     74
2           2     46
3           3     33
4           4     49
5           5     51
6           6     47
7           7     12
8           8     13
9           9     17
10         10     35
11         11     49
12         12     57
13         13     30
14         14     22
15         15     33
16         16     40
17         17     31
18         18     28
19         19     20
20         20     29
21         21     49
22         22     17
23         23     54
24         24     77
25         25     68
26         26     37
27         27     39
28         28     80
29         29     26
...       ...    ...
18816   18816     76
18817   18817     39
18818   18818     37
18819   18819     49
18820   18820     19
18821   18821     32
18822   18822     25
18823   18823     25
18824   18824     69
18825   18825     26
18826   18826     14
18827   18827     24
18828   18828     27
18829   18829     29
18830   18830     45
18831   18831     29
18832   18832     22
18833   18833     88
18834   18834     24
18835   18835     40
18836   18836     21
18837   18837     30
18838   18838     21
18839   18839     58
18840   18840     83
18841   18841     17
18842   18842     27
18843   18843     28
18844   18844     34
18845   18845     92

[18846 rows x 2 columns]

In [26]:
sql = """ select * from nate.twenty_news_groups_vocabulary;"""
df = psql.read_sql(sql, conn)
conn.commit()
display(df)

               token
0              offer
1    nntppostinghost
2              books
3            sources
4                ftp
5             report
6                 uk
7              asked
8          excellent
9             havent
10              chip
11               win
12         important
13             years
14               die
15              card
16                 x
17            action
18            window
19         situation
20              left
21               mac
22          military
23              size
24         condition
25          software
26            league
27          programs
28            higher
29              idea
..               ...
695             list
696            worse
697          purpose
698           worked
699          address
700             talk
701             note
702               60
703             feel
704              hey
705                6
706                g
707        political
708         religion
709            early
710           bought
711           christ
712            video
713             main
714          require
715             site
716          company
717            folks
718            didnt
719         complete
720            price
721            scott
722         argument
723          special
724        expressed

[725 rows x 1 columns]

In [27]:
sql = """ 
SELECT SUM(tf)
FROM nate.twenty_news_groups_term_frequencies 
"""
df = psql.read_sql(sql, conn)
conn.commit()
display(df)

         sum
0  5165101.0